body.font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(235, 217, 210);

}

.bullet {
    list-style-type: none;
}

.bullet a{
    text-decoration: none;
}



.h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}
.h2font {
    font-size: 24px;
}

.h3font{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;

}